* {
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    line-height: 1.5;
    word-wrap: break-word
}

.main {
    max-width: 50rem;
    margin: auto;
    padding: 0 1rem;
}

.container-lg {
    max-width: 100%;
}

h1 {
    padding-bottom: 0.3em;
    font-size: 2em;
    border-bottom: 1px solid #eaecef;
}

h2 {
    border-bottom: 1px solid #eaecef;
    font-size: 1.5em;
    padding-bottom: 0.3em;
}

select {
    max-width: 100%;
}

iframe {
    width: 100%;
    overflow-y: clip;
    overflow-x: clip;
    border: none;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    height: 1px; /* Ignored. Needed to make cell contents fill cell */
}

table td, table th {
    border: 1px solid #dfe2e5;
}

table tr:nth-child(2n) {
    background-color: #f6f8fa;
}

table td:not(.helper), table th:not(.helper) {
    padding: 6px 13px;
}

.helper {
    position: relative;
}

.helper label {
    padding: 6px 13px;
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: inline-block;
}

.helper:has(input[type="checkbox"]:checked) label {
    background-color: lightblue;
}

.helper input[type="checkbox"] {
    cursor: pointer;
    position: absolute;
    left: 4px;
    top:  4px;
}

.calculate-button {
    max-width: 450px;
    width: 100%;
}
